<head>
  <style>
        .custom-shadow {
            box-shadow: 0 5px 9px rgb(131, 153, 5); /* Sombra roja con 50% de opacidad */
        }
        .div1 {
            position: relative; /* Importante para utilizar z-index */
            z-index: 1; /* Primer div, z-index más bajo */
        }

        .div2 {
            width: 150px;
            height: 150px;
            background-color: #ffcccc;
            position: relative; /* Importante para utilizar z-index */
            z-index: 2; /* Segundo div, z-index más alto */
            top: -50px; /* Mover el segundo div hacia arriba */
            left: 50px; /* Mover el segundo div hacia la derecha */
        }

    </style>
</head>

<div class="div1 bg-warning p-3 custom-shadow">
  <div>
    <header class="d-flex flex-wrap align-items-center justify-content-center py-2 navbar-brand">      
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link mx-3 px-10 text-dark">Inicio</a></li>
        <li><a href="/pesar" class="nav-link mx-3 px-10 text-dark">Pesar</a></li>
        <li><a href="/historial" class="nav-link mx-3 px-10 text-dark">Historial</a></li>
        <li><a href="/estadisticas" class="nav-link mx-3 px-10 text-dark">Estadisticas</a></li>
      </ul>
    </header>
  </div>
</div>