    <div >
         <footer class="m-top py-2">
            <div class="container text-center">
                <p class="text-body-secondary">© 2023 Company, Inc</p>
            </div>
        </footer>
    </div>