<div class="container">
        <footer class="position-absolute top-100 start-50 translate-middle">
          <p class="text-center text-body-secondary">© 2023 Company, Inc</p>
        </footer>
    </div>