<!DOCTYPE html>
<html lang="es" data-bs-theme="ligth">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Historial</title>
        <!-- Bootstrap desde CDN -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    </head>
    <style>
        .color-primario{
            background-color: #E7E7E7;
        }
        .color-segundario{
            background-color: #7FB069;
        }
        .boton-primario{
            background-color: #FC4A1A;
        }
        .texto-color{
            color: #00008B;
        }
    </style>
<body class="text-light color-primario"> 

    {{> barrita_de_arriba}}

    <!-- jQuery desde CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Tu script de la API -->
    <script src="/prueba/hola.js"></script>

</body>
</html>
