<!DOCTYPE html>
<html lang="es" data-bs-theme="ligth">
<head>
    <meta charset="utf-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<link href="/workspaces/FitScale1.0/views/style.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body class="bg-image"> 
    {{> barrita_de_arriba}}
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">FitScale</h1>
            <p class="lead text-body-secondary">La pesa inteligente que necesitas</p>
            <p>
                <a href="/registro" class="btn btn-secondary my-2">Registrar</a>
                <a href="/ingreso1" class="btn btn-secondary my-2">Ingresar</a>
                <a href="/votar_evento" class="btn btn-secondary my-2">Ingresar a las votaciones</a>
            </p>
        </div>
    </div>
    {{> footer }}
</body>
</html>
