<!DOCTYPE html>
<html>
<head>
    <title>Info Alimento</title>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        .color-primario{
            background-color: #E7E7E7;
        }
        .color-segundario{
            background-color: #7FB069;
        }
        .boton-primario{
            background-color: #FC4A1A;
        }
        .texto-color{
            color: #00008B;
        }

    </style>
</head>
<body>

    {{> barrita_de_arriba}}
    

</main>
</body>
</html> 